{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Departments
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Create</li>
            </ol>
        </nav>
    </section>
{% endblock %}

{% block content %}
    <div class="container">
        <p><strong>dept_id:</strong> {{ object.dept_id }}</p>
        <p><strong>dept_name:</strong> {{ object.dept_name }}</p>

    </div>
{% endblock %}
