{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Departments
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Update</li>
            </ol>
        </nav>
    </section>
{% endblock %}

{% block content %}
    <form method="post" >{% csrf_token %}
        <p><strong>dept_id:</strong> {{ object.dept_id }}</p>
        <p><strong>dept_name:</strong> {{ object.dept_name }}</p>   
        <p>Are you sure you want to delete "{{ object.dept_id }}"?</p>
        <input class="btn btn-success" type="submit" value="Confirm">
        <a class="btn btn-danger" href="{% url 'polls:departments' %}" role="button">Cancel</a>
    </form>
{% endblock %}
