{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Professor
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Create</li>
            </ol>
        </nav>
    </section>
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-danger" href="{% url 'polls:professor' %}" role="button">Cancel</a>
    </form>
{% endblock %}
