<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <form method="post" action="{% url 'polls:insert' %}">  
        {% csrf_token %}
        <input type="text" name="Dept_ID" placeholder="Dept_ID"><br>
        <input type="text" name="Dept_Name" placeholder="Dept_Name"><br>
        <input type="submit" value="insert"><br>
    </form>
    <form method="post" action="{% url 'polls:find' %}">  
        {% csrf_token %}
        <input type="text" name="Dept_ID" placeholder="Dept_ID"><br>
        <input type="submit" value="find"><br>
    </form>
    <form method="post" action="{% url 'polls:delete' %}">  
        {% csrf_token %}
        <input type="text" name="Dept_ID" placeholder="Dept_ID"><br>
        <input type="submit" value="delete"><br>
    </form>
    <form method="post" action="{% url 'polls:update' %}">  
        {% csrf_token %}
        <input type="text" name="Dept_ID" placeholder="Dept_ID"><br>
        <input type="text" name="Dept_Name" placeholder="Dept_Name"><br>
        <input type="submit" value="update"><br>
    </form>
</body>
</html>