<!DOCTYPE html>
<html>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <ul>
    {% for single_department in departments %}
        <li>{{single_department.dept_id}} {{single_department.dept_name}}</li>        
    {% endfor %}
    </ul>

    {% if building %}   
        <ul>
        {% for single_building in numberofCourses %}
            <li>number of courses at {{single_building.building}}:{{single_building.num}}</li>
        {% endfor %}
        </ul>
    {% endif %}
</html>