{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-center">
    <h1 class="text-center titulo">CS411 Project</h1>
    <h2>UIUC Schedule Generator</h2>  
    <img src="{% static 'images/teamlogo.png' %}" style="width:600px;height:368px;">
    <div class="d-flex">
      <ul class="list-group mx-auto justify-content-center" style="width:50%" >
        <li class="list-group-item"><strong>Number of Departments: </strong> {{ numofDepartments }}</li>
        <li class="list-group-item"><strong>Number of Classes: </strong> {{ numofClasses }}</li>
        <li class="list-group-item"><strong>Number of Sections: </strong> {{ numofSections }}</li>
        <li class="list-group-item"><strong>Number of Professors: </strong> {{ numofProfessors }}</li>
      </ul>
    </div>

<div> 

{% endblock %}